html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.has-error .help-block .Message {
    color: #f44336;
    opacity: 1;
    font-size: 8px !important;
}